.idea/
.vscode/
.vs/
node_modules/
condition/conditionsdiseases.json
creature/bestiary.json
creature/fluff-bestiary.json
feat/feats.json
item/items.json
table/tables.json
spell/spells.json
object/objects.json
optionalfeature/optionalfeatures.json
psionic/psionics.json
race/races.json
reward/rewards.json
trap/trapshazards.json
variantrule/variantrules.json
